RPC_URL=<rpc_url>
PRIVATE_KEY=<private_key>
EXISTING_DEPLOYMENT_INFO_PATH=./script/output/holesky/Holesky_current_deployment.config.json
DEPLOY_CONFIG_PATH=./script/deploy/config/holesky/aligned.holesky.config.json
OUTPUT_PATH=./script/output/holesky/alignedlayer_deployment_output.json
ETHERSCAN_API_KEY=<etherscan_api_key>
MULTISIG=<false|true>
