# Main S3 bucket configuration
AWS_SECRET_ACCESS_KEY=<secret_access_key>
AWS_REGION=<region>
AWS_ACCESS_KEY_ID=<access_key_id>
AWS_BUCKET_NAME=<bucket_name>
UPLOAD_ENDPOINT=<upload_endpoint. For non-aws storage>
DOWNLOAD_ENDPOINT=<download_endpoint>

# Secondary S3 bucket configuration
AWS_SECRET_ACCESS_KEY_SECONDARY=<secondary_secret_access_key>
AWS_REGION_SECONDARY=<secondary_region>
AWS_ACCESS_KEY_ID_SECONDARY=<secondary_access_key_id>
AWS_BUCKET_NAME_SECONDARY=<secondary_bucket_name>
UPLOAD_ENDPOINT_SECONDARY=<secondary_upload_endpoint. For non-aws storage>
DOWNLOAD_ENDPOINT_SECONDARY=<secondary_download_endpoint>

RUST_LOG=<log_level> # info, debug, error, warn, etc.
