**/.DS_Store
**/.idea
**/.env
.aligned_venv
out
cache
**/build
**/target
scripts/test_files/gnark_groth16_bn254_infinite_script/infinite_proofs/**
batcher/aligned/batch_inclusion_responses/*
**/aligned_verification_data
**/broadcast
volume
config-files/*.last_processed_batch.json

nonce_*.bin

infra/ansible/playbooks/ini/**.ini
infra/ansible/playbooks/files/**.pem
