[Unit]
Description=Batcher
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/repos/batcher/aligned_layer/batcher
ExecStart=/home/ubuntu/.cargo/bin/aligned-batcher --config /home/ubuntu/config/config-batcher-holesky.yaml --env-file /home/ubuntu/config/.env.batcher
Restart=always
RestartSec=1
StartLimitBurst=100

[Install]
WantedBy=multi-user.target
