<.root_background>
  <div class={["flex flex-col items-center justify-center gap-3 min-h-96"]}>
    <.card_preheding class="text-6xl text-foreground font-semibold">Error 404</.card_preheding>
    <p class={["text-xl text-foreground"]}>Page not found.</p>
    <.a href="/" class="text-lg text-foreground">Home</.a>
  </div>
</.root_background>
