export RPC_URL={{ RPC_URL }}
export ENVIRONMENT={{ ENVIRONMENT }}
export ALIGNED_CONFIG_FILE={{ ALIGNED_CONFIG_FILE }}
export PHX_HOST={{ PHX_HOST }}
export ELIXIR_HOSTNAME={{ ELIXIR_HOSTNAME }}
export PHX_SERVER=true

export DB_NAME={{ DB_NAME }}
export DB_USER={{ DB_USER }}
export DB_PASS={{ DB_PASS }}
export DB_HOST={{ DB_HOST }}

export TRACKER_API_URL={{ TRACKER_API_URL }}
export SECRET_KEY_BASE={{ SECRET_KEY_BASE }}

export KEYFILE_PATH={{ KEYFILE_PATH }}
export CERTFILE_PATH={{ CERTFILE_PATH }}

export BATCH_TTL_MINUTES={{ BATCH_TTL_MINUTES }}
export SCHEDULED_BATCH_INTERVAL_MINUTES={{ SCHEDULED_BATCH_INTERVAL_MINUTES }}
