[global]
RPC_URL=
ENVIRONMENT=
ALIGNED_CONFIG_FILE=
PHX_HOST=
ELIXIR_HOSTNAME=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
TRACKER_API_URL=
SECRET_KEY_BASE=
KEYFILE_PATH=
CERTFILE_PATH=
BATCH_TTL_MINUTES=
SCHEDULED_BATCH_INTERVAL_MINUTES=
LATEST_RELEASE=
