[global]
grafana_admin_password=
grafana_prometheus_datasource=
grafana_domain=
grafana_oath_client_id=
grafana_oath_client_secret=
grafana_oath_auth_url=
grafana_oath_token_url=
grafana_oath_api_url=

prometheus_aggregator_ip=
prometheus_operator_ip=
prometheus_batcher_ip=
prometheus_tracker_ip=

postgresql_telemetry_db_name=
postgresql_telemetry_user=
postgresql_telemetry_pass=

cassandra_telemetry_user=
cassandra_telemetry_pass=

telemetry_aligned_rpc=
telemetry_api_phx_host=
telemetry_api_elixir_hostname=
telemetry_api_secret_key_base=

pagerduty_routing_key=
