ETH_RPC_URL=<RPC_URL>
# Make sure it has funds on Aligned
PRIVATE_KEY=<PRIVATE_KEY>
# Deploy the contract with make deploy_contract_devnet
FIBONACCI_CONTRACT_ADDRESS=<FIBONACCI_CONTRACT_ADDRESS>
NETWORK=<devnet|holesky|holeksy-stage|mainnet>
