RPC_URL=<rpc_url>
PRIVATE_KEY=<private_key>
ALIGNED_SERVICE_MANAGER_ADDRESS=<aligned_service_manager_addr># 0x87CD431F160e88EC34fA48EC6F6cF7F2C0E8248c for Hoodi
BATCHER_PAYMENT_SERVICE_ADDRESS=<batcher_payment_service_addr># 0x041af25Fce2413570aaa0029D36DeA1eFdeff083
ETHERSCAN_API_KEY=<etherscan_api_key>
