<div class="flex flex-col space-y-3 bg-zinc-200 dark:bg-zinc-900 rounded-2xl px-6 py-8 min-h-[40rem] text-foreground max-w-96 md:max-w-5xl mx-auto capitalize">
  <h1 class="text-5xl font-bold">Tasks List</h1>
    <p class="font-semibold">
      <%!-- ids:: <span class="break-all font-normal"><%= @tasks.ids %></span> --%>
      ids:: <%= @tasks %>
    </p>
    <button>Prev</button>
    <button>Next</button>
</div>
