RPC_URL=<RPC_URL>
# Make sure you have enough funds to pay for the deployment
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
ALIGNED_SERVICE_MANAGER_ADDRESS=<ALIGNED_SERVICE_MANAGER_ADDRESS>
PAYMENT_SERVICE_ADDRESS=<PAYMENT_SERVICE_ADDRESS>
# generate it by setting up the circuit with make generate_circom_groth16_bn256_setup
VK_COMMITMENT=<THE_GENERATED_VK_COMMITMENT>
