[Unit]
Description=AggregationMode
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/user
ExecStartPre=sleep 60
ExecStart=/home/user/.cargo/bin/proof_aggregator /home/user/config/config-proof-aggregator.yaml
Environment="SP1_PROVER=cuda"

[Install]
WantedBy=multi-user.target
