[Unit]
Description=AggregationMode Start
Wants=aggregation_mode_start.timer

[Service]
Type=oneshot
ExecStart=/home/app/scripts/aggregation_mode_start.sh
EnvironmentFile=/home/app/config/.env.aggregation_mode_start

[Install]
WantedBy=default.target
