[Unit]
Description=AggregationMode
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/user
ExecStartPre=sleep 60
ExecStart=/home/user/run.sh

[Install]
WantedBy=multi-user.target
