# Network
RPC_URL=<rpc_url>
ENVIRONMENT=<devnet|holesky|mainnet>

# Elixir
PHX_HOST=<phx_host_url>
ELIXIR_HOSTNAME=<iex_hostname>

# Database
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASS=<db_pass>
DB_HOST=<db_host>

# Config file
ALIGNED_CONFIG_FILE="<aligned_config_file>"

# Debug
DEBUG_ERRORS=<true|false>

# Tracker API
TRACKER_API_URL=<tracker_api_url>

# Time we wait for a batch to be verified before marking it stale
BATCH_TTL_MINUTES=5

# Scheduled minutes between batch submissions. This is shown in the next batch progress bar component.
SCHEDULED_BATCH_INTERVAL_MINUTES=360

# Latest aligned release that operators should be running
LATEST_RELEASE=v0.14.0
