<section class="mx-auto" style="max-width: 1200px;">
  <div class="flex justify-center items-center">
    <h1 class="text-5xl w-fit text-center font-normal p-2 px-4 selection:bg-accent-foreground/20 selection:text-accent-foreground/80 rounded-xl tracking-tighter bg-accent drop-shadow-lg text-black mt-3">
      Aligned Layer Explorer
    </h1>
  </div>
  <div class="mt-8 text-foreground px-2 flex flex-col justify-center gap-5">
    <.card_background class="flex lg:justify-between gap-10 px-20 py-8 flex-wrap">
      <%= for %{title: title, value: value, tooltip_text: tooltip_text, link: link} <- @stats do %>
        <div>
          <.link
            navigate={link}
            class={[
              "group",
              link == nil && "cursor-default pointer-events-none"
            ]}
          >
            <p class={[
              "mb-2 text-md text-muted-foreground",
              link != nil && "group-hover:underline"
            ]}>
              <%= title %>
            </p>
            <h3 class="text-2xl text-foreground font-bold" style="font-size: 1.6rem"><%= value %></h3>
          </.link>
          <%= if tooltip_text do %>
            <.tooltip>
              <%= tooltip_text %>
            </.tooltip>
          <% end %>
        </div>
      <% end %>
    </.card_background>
    <.live_component
    id="labeled-progress-bar"
    module={LabeledProgressBarComponent}
    percent_progress={@next_scheduled_batch_remaining_time_percentage}
    label={
      case @next_scheduled_batch_remaining_time do
        0 -> "Next batch is around the corner!"
        time -> "Next batch in #{time} minutes" 
      end
    }/>
    <div class="flex flex-wrap md:flex-row flex-col gap-5">
      <.card
        title="Cost per proof"
        subtitle="Verification cost over time"
        class="p-0 flex-1"
        header_container_class="px-10 pt-8"
      >
        <div style="height: 200px;" class="px-4 pb-8">
          <.bar_chart
            id="cost_per_proof_chart"
            points={@cost_per_proof_chart.points}
            extra_data={@cost_per_proof_chart.extra_data}
          />
        </div>
      </.card>
      <.card
        title="Batch size"
        subtitle="Number of proofs in last batches"
        class="p-0 flex-1"
        header_container_class="px-10 pt-8"
      >
        <div style="height: 200px;" class="px-4 pb-8">
          <.bar_chart
            id="batch_size_chart"
            points={@batch_size_chart_data.points}
            extra_data={@batch_size_chart_data.extra_data}
          />
        </div>
      </.card>
    </div>

    <%= if @latest_batches != :empty and @latest_batches != [] do %>
      <.card
        title="Latest batches"
        subtitle="The most recent verified batches on aligned"
        class="overflow-x-auto"
      >
        <.batches_table batches={@latest_batches} />
        <div class="flex justify-center my-5">
          <.link
            navigate={~p"/batches"}
            class="absolute hover:underline font-medium text-muted-foreground capitalize text-sm"
          >
            View All <.icon name="hero-arrow-top-right-on-square-solid" class="size-3.5 mb-1" />
          </.link>
        </div>
      </.card>
    <% else %>
      <.empty_card_background text="No Batches To Display." />
    <% end %>

    <.live_component module={ContractsComponent} id="contracts_card" class="" host={@host} />
  </div>
</section>
