GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
PROMETHEUS_URL={{ grafana_prometheus_url }}
RPC_URL={{ grafana_rpc_url }}
POSTGRES_HOST={{ grafana_postgres_host }}
POSTGRES_PORT={{ grafana_postgres_port }}
POSTGRES_DB={{ grafana_postgres_db }}
POSTGRES_USER={{ grafana_postgres_user }}
POSTGRES_PASSWORD={{ grafana_postgres_password }}
MONITOR_DB_HOST={{ grafana_monitor_host }}
MONITOR_DB_PORT={{ grafana_monitor_port }}
MONITOR_DB_DB={{ grafana_monitor_db }}
MONITOR_DB_USER={{ grafana_postgres_user }}
MONITOR_DB_PASSWORD={{ grafana_postgres_password }}
GATEWAY_URL={{ grafana_gateway_url }}
SLACK_WEBHOOK_URL={{ grafana_slack_webhook_url }}
PAGERDUTY_INTEGRATION_KEY={{ grafana_pagerduty_integration_key }}
