GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
PROMETHEUS_URL={{ grafana_prometheus_url }}
RPC_URL={{ grafana_rpc_url }}
POSTGRES_HOST={{ grafana_postgres_host }}
POSTGRES_PORT={{ grafana_postgres_port }}
POSTGRES_DB={{ grafana_postgres_db }}
POSTGRES_USER={{ grafana_postgres_user }}
POSTGRES_PASSWORD={{ grafana_postgres_password }}
