<div class="flex flex-col space-y-3 text-foreground px-1 sm:max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto capitalize">
  <.card_preheding>Assets</.card_preheding>
  <.table id="assets" rows={[1, 2, 3, 4, 5, 6, 7, 8, 9]}>
    <:col :let={_asset} label="Token">
      TODO
    </:col>
    <:col :let={_asset} label="Restake Concentration">
      TODO
    </:col>
    <:col :let={_asset} label="Total ETH Restaked">
      TODO
    </:col>
  </.table>
</div>
