name: build-go-projects

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: false
      - name: Build SP1 bindings
        run: make build_sp1_linux
      - name: Build Jolt bindings
        run: make build_jolt_linux
      - name: Build Risc Zero go bindings
        run: make build_risc_zero_linux
      - name: Build Halo2-KZG bindings
        run: make build_halo2_kzg_linux
      - name: Build Halo2-IPA bindings
        run: make build_halo2_ipa_linux
      - name: Build operator
        run: go build operator/cmd/main.go
      - name: Build aggregator
        run: go build aggregator/cmd/main.go
      - name: Build task sender
        run: go build task_sender/cmd/main.go
