name: golangci-lint
on:
  push:
    branches:
      - master
      - main
    paths:
      - 'operator/**'
      - 'aggregator/**'
      - 'common/**'
      - 'core/**'
      - '.github/workflows/golangci-lint.yml'
  pull_request:
    paths:
      - 'operator/**'
      - 'aggregator/**'
      - 'common/**'
      - 'core/**'
      - '.github/workflows/golangci-lint.yml'

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          # Require: The version of golangci-lint to use.
          # When `install-mode` is `binary` (default) the value can be v1.2 or v1.2.3 or `latest` to use the latest version.
          # When `install-mode` is `goinstall` the value can be v1.2.3, `latest`, or the hash of a commit.
          version: v1.54
          args: --timeout=5m
