name: test-sp1

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Clear device space
          run: |
            sudo rm -rf /usr/local/lib/android
            sudo rm -rf /opt/ghc
            sudo rm -rf /usr/local/.ghcup
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf "/usr/local/share/boost"
        - name: Install dependencies
          run: |
            sudo apt-get update
            sudo apt-get install -y libssl-dev clang
        - uses: actions/checkout@v4
        - uses: actions/setup-go@v5
          with:
            go-version: '1.22'
            cache: false
        - name: Test SP1 go bindings
          run: make test_sp1_go_bindings_linux
