name: test-halo2-ipa

on:
  merge_group:
  push:
    branches: [main]
    paths:
      - 'operator/halo2ipa/**'
      - '.github/workflows/test-halo2-ipa.yml'
  pull_request:
    branches: ["*"]
    paths:
      - 'operator/halo2ipa/**'
      - '.github/workflows/test-halo2-ipa.yml'

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Clear device space
          run: |
            sudo rm -rf "$AGENT_TOOLSDIRECTORY"
            sudo rm -rf /usr/local/lib/android
            sudo rm -rf /opt/ghc
            sudo rm -rf /usr/local/.ghcup
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf /opt/ghc
            sudo rm -rf "/usr/local/share/boost"
        - uses: actions/checkout@v4
        - uses: actions/setup-go@v5
          with:
            go-version: '1.22'
            cache: false
        - uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
        - name: Test Halo2-IPA Rust
          run: make test_halo2_ipa_rust_ffi
        - name: Test Halo2-IPA go bindings
          run: make test_halo2_ipa_go_bindings_linux
